/* font */
@font-face {
  font-family: 'ghanachoco';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* COMMON */
body {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'GmarketSansMedium', sans-serif;
  background-image: url('https://www.10wallpaper.com/wallpaper/2560x1600/1110/Disney_movie_WALL-E_Wallpaper_2560x1600.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

/* STYLE */
/* 로딩 애니메이션 */
div.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
@keyframes spin {
  0% {transform:translate(-50%, -50%) rotate(0deg);}
  100%{transform:translate(-50%, -50%) rotate(360deg);}
}

.hide {
  display: none;
}


section {

}
section div.container {
  width: 1000px;
  height: 100vh;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
}
section div.container .title {
  
}
section div.container .title h1 {
  font-family: 'ghanachoco', sans-serif;
  color: #fff;
  font-size: 100px;
  text-align: center;
}
section div.container .search-box {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
section div.container .search-box input {
  width: 700px;
  height: 60px; 
  padding-left: 20px;
  border-radius: 100px;
  border: 0px;
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 15px;
}
section div.container .search-box select {
  height: 60px;
  font-family: 'GmarketSansMedium', sans-serif;
  border-radius: 10px;
  border: 0px;
  padding: 0px 10px;
  cursor: pointer;
}
section div.container .search-box select option {

}
section div.container .search-box button {
  width: 100px;
  height: 60px;
  font-family: 'GmarketSansMedium', sans-serif;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}

div.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 50px 10px;
}
div.movies .movie {
  --size: 220px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
div.movies .movie img {
  width: 100%;
  height: 100%;
}
div.movies .movie .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(0,0,0,.3);
  backdrop-filter: blur(8px);
  color: white;
  font-size: 14px;
}
div.movies .movie .info h2 {
  margin-bottom: 3px;
}
div.movies .movie .info h1 {
 
}
